<div class=" flex justify-between font-bold text-white text-2xl bg-green-700 p-4 shadow-sm shadow-green-400">
    <h1>Tajertas de Credito App</h1>
    <i class="fa fa-home"></i>
</div>
<div class="container mx-auto">
    <div class="flex flex-wrap justify-evenly space-x-3">
        <app-tatjeta-credito-form
            (Card)="addCard($event)"
            [dataUpdate] ="dataUpdate" 
        ></app-tatjeta-credito-form>
        <app-tarjeta-credito-view 
            [listCards]="listCards"
            (indexCardForDelete)="deleteCard($event)"
            (updateData)="updateCard($event)"
        ></app-tarjeta-credito-view>

       
    </div>
</div>