<div class="text-center mt-8 p-4 rounded-md shadow-sm shadow-gray-500">
    <h1 class="text-2xl text-gray-800 font-semibold my-4">Add Credit Card</h1>

    <form type="submit" (ngSubmit)="onSubmit(formCard)" #formCard="ngForm">
        <div class="flex items-center p-2 text-md">
            <i class="fas fa-user" [ngClass]="{
                'text-green-700':titular.valid,
                'text-red-600':!titular.valid && titular.touched     
            }"></i>
            <input type="text" ngModel="Cristian Camilo" name="titular" #titular="ngModel" required minlength="5"
                class="outline-none w-full rounded-sm ml-4 p-1 text-black ring-2 border-l-8" placeholder="Nombre"
                [ngClass]="{
                    'border-green-700':titular.valid,
                    'border-red-600':!titular.valid && titular.touched
                        }">
        </div>
        <div class="flex p-2 items-center text-md">
            <i class="fas fa-credit-card" [ngClass]="{
                'text-green-700':numberCard.valid,
                'text-red-600':!numberCard.valid && numberCard.touched     
                    }"></i>
            <input type="text" ngModel="12345" name="numberCard" #numberCard="ngModel" required minlength="5" maxlength="5"
                class="outline-none w-full rounded-sm ml-4 p-1 text-black ring-2 border-l-8"
                placeholder="Numero Tarjeta" [ngClass]="{
                    'border-green-700':numberCard.valid,
                    'border-red-600':!numberCard.valid && numberCard.touched
                        }">
        </div>
        <div class="flex p-2 items-center text-md ">
            <i class="fas fa-calendar-alt" [ngClass]="{
                'text-green-700':fechaExpedicion.valid,
                'text-red-600':!fechaExpedicion.valid && fechaExpedicion.touched     
                    }"></i>
            <input type="text" ngModel="13/06/1995" name="fechaExpedicion" #fechaExpedicion="ngModel" required maxlength="10" minlength="10"
                class="outline-none w-full rounded-sm ml-4 p-1 text-black ring-2 border-l-8" 
                placeholder="Fecha Expedicion" [ngClass]="{
                    'border-green-700':fechaExpedicion.valid,
                    'border-red-600':!fechaExpedicion.valid && fechaExpedicion.touched
                        }">
        </div>
        <div class="flex p-2 items-center text-md ">
            <i class="fas fa-key" [ngClass]="{
                'text-green-700':cvvPassword.valid,
                'text-red-600':!cvvPassword.valid && cvvPassword.touched    
                    }"></i>
            <input type="password" ngModel="123" name="cvvPassword" #cvvPassword="ngModel" required maxlength="3" minlength="3"
                class="outline-none w-full rounded-sm ml-4 p-1 text-black ring-2 border-l-8" placeholder="Numero Cvv"
                [ngClass]="{
                    'border-green-700':cvvPassword.valid,
                    'border-red-600':!cvvPassword.valid && cvvPassword.touched
                        }">
        </div>
        <button type="submit" [disabled]="!formCard.form.valid"
            class="btn-active"
            [ngClass]="{'btn-disable':!formCard.form.valid}"
            >Agregar</button>
    </form>

</div>